<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mike's Tech Blog</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex flex-col justify-center items-center w-full">
  <header class="flex flex-col justify-center items-center gap-4 pt-4 pb-4 bg-blue-900 w-full">
    <h1 class="self-center text-bold text-white text-2xl">Mike's Tech Blog <span role="img" aria-label="laptop">💻</span></h1>
    <nav class"flex flex-row justify-between w-full">
      <div class="flex gap-4">
        <a class="underline text-gray-200" href="/">Home</a>
        <a class="underline text-gray-200" href="/dashboard">Dashboard</a>

        <!-- Conditionally render login or logout links -->
        {{#if loggedIn}}
        <a class="underline text-gray-200" href="/" id="logout">Logout</a>
        {{else}}
        <a class="underline text-gray-200" href="/signup">Signup</a>
        <a class="underline text-gray-200" href="/login">Login</a>
        {{/if}}
      </div>
    </nav>          
  </header>

  <main class="flex flex-col justify-center items-center w-4/5 mt-2 >
    {{{ body }}}
  </main>


  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>