    <div class="flex flex-col gap-8 mt-8 rounded-3xl border-2">
      <h3 class="font-bold mt-4">Login</h3>
      <p>or <a class="underline" href="/signup"> Sign up</a></p>
      <form id="login-form" class="flex flex-col gap-4 mt-4">
        <span>
        <label class="form-label" for="username-login">Username:</label>
        <input id="username-login" type="text" autofocus="true" class="form-input" />
        </span>
        <span>
        <label class="form-label" for="password-login">Password:</label>
        <input id="password-login" type="password" autofocus="true" class="form-input" />
        </span>
        <button type="submit" class="btn border-2 bg-gray-400 w-min py-1 px-2 rounded-xl self-end">Login!</button>
        
      </form>
    </div>
    
<script src="/js/login.js"></script>