
{{> post-info post}}

{{#if loggedIn}}
<div class="bg-gray-400">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">

        <label class="form-label">Comment</label>
        <input id="comment" name="comment-body" class="form-input" />

        <button type="submit" class="btn border-2 text-gray-200 bg-blue-900 px-2 py-1 rounded-lg">Submit</button>
    </form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}